
<div class="flex flex-column align-items-center">
  <img src="./assets/logo_cantv.png" width="50%" alt="">
</div>

<div class="flex flex-column">

  <span class="text-lg mb-4">Login</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña">
  </mat-form-field>

  <button mat-fab extended color="primary">
    <mat-icon>input</mat-icon>
    Ingresar
  </button>


</div>
